<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="fragment-menu">
		<h1 align="center">SpringBoot HomePage</h1>
		<!-- 로그인 전 -->
		<div th:if="${loginUser == null}" align="right">
			<form action="login" method="post">
				<table>
					<tr>
						<td>아이디</td>
						<td><input name="id"></td>
						<td rowspan="2"><button style="height: 50px;">로그인</button></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td><input type="password" name="password"></td>
					</tr>
					<tr style="height: 10px;"></tr>
					<tr>
						<td colspan="3" align="center">
							<a href="enrollForm">회원가입</a>&emsp;
							<a href="">아이디/비번찾기</a>
						</td>
					</tr>
				</table>
			</form>			
		</div>
		
		<!-- 로그인 후 -->
		<div th:if="${loginUser != null}" align="right">
			<table>
				<tr>
					<td colspan="2" >
						 <!--/* 
							<h4 th:text="|${loginUser.name}님 환영합니다|"></h4>
							<h4 th:text="${loginUser.name} + '님 환영합니다'"></h4>
						 */-->
						 <h4>[[${loginUser.name}]]님 환영합니다</h4>
					</td>
				</tr>
				<tr>
					<td width="90"><a href="myPage">마이페이지</a></td>
					<td><a href="logout">로그아웃</a></td>
				</tr>
			</table>
		</div>

		<br>

		<table class="nav-area" align="center">
			<tr>
				<td>HOME</td>
				<td>공지사항</td>
				<td onclick="location.href='list'">게시판</td>
				<td>찾아오는길</td>
			</tr>
		</table>
	</div>
</body>
</html>